    {{>headerLinks}}

    {{>navbar}}

    <!-- main page section -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right-side -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="./images/404-page.jpg" alt="" class="img-fluid" title="Nishant Jangid">
                        </figure>
                        <p>Welcome to Weather App</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/" ><button class="btn btn-primary">Go Back</button></a>
                    </div>
                    <!-- left-side -->
                </div>
            </div>
        </div>
    </div>    
    <!-- main page section -->
    {{!-- footer Section --}}
    {{>footer}}
    {{!-- footer Section --}}
