    {{>headerLinks}}

    {{>navbar}}

    <!-- main page section -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right-side -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="./images/slider3.jpg" alt="" class="img-fluid" title="Nishant Jangid">
                        </figure>
                    </div>            
                    <!-- right-side -->                    
                    <!-- left-side -->
                    <div class="col-md-6 col-12 main_header_left"> 
                        <p>Welcome to Weather App</p>
                        <h1>I Am a <span class="text-color"> Mern Stack Developer </span> Freelancer.</h1>
                        <a href="https://furnituredesire.000webhostapp.com/Nishantjangid/?pro_id=Nishantjangid" target="_blank"><button class="btn btn-primary">Contact Me</button></a>
                    </div>
                    <!-- left-side -->
                </div>
            </div>
        </div>
    </div>    
    <!-- main page section -->
    {{!-- footer Section --}}
    {{>footer}}
    {{!-- footer Section --}}
